* {
    margin: 0;
}

.conteiner {
    width: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
    padding-top: 45px;
    padding-bottom: 72px;
    text-align: center;
}

h1 {
    color: #3170A8;
    font-size: 39px;
    font-weight: normal;
    margin-bottom: 40px;
}

h1 span {
    color: #EE7C24;
}

div.content {
    display: inline-block;
}

div.feedback {
    display: inline-block;
    margin: 5px 24px;
}

.feedback img {
    height: 100px;
    position: relative;
    top: 15px;
}

.testimonials {
    display: inline-block;
    width: 332px;
    margin-left: 25px;
    position: relative;
    background: white;
    padding: 17px;
    padding-bottom: 10px;
}

.customer {
    color: #8FB2D7;
    border-bottom: 2px dotted black;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
}

.customer p em {
    display: block;
}

.customer p em:first-child {
    float: left;
}

.customer p em:last-child {
    float: right;
}

.clear {
    clear: both;
}

.comment {
    padding-top: 8px;
    font-size: 13px;
    color: gray;
    line-height: 20px;
    text-align: left;
}

div.testimonials:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: '';
    position: absolute;
    border-right-color: #ffffff;
    border-width: 14px;
    margin-top: -14px;
}



