body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

header {
    text-transform: uppercase;
    color: #35495A;
    font-size: 14px;
    margin-bottom: 58px;
}

div.pricing-block {
    display: inline-block;
    border: 3px solid #EE8129;
    border-radius: 5px;
    width: 290px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.40);
    margin: auto;
    background-color: white;
}

p.title {
    background-color: #EE8129;
    margin: 0;
    color: white;
    padding: 24px 0;
    font-size: 22px;
}

p.minititle {
    color: #35495A;
    font-size: 22px;
    padding-top: 19px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: normal;
}

.price span:first-child {
    position: relative;
    top: -35px;
    font-size: 24px;
    padding-right: 5px;
}

.price span:last-child{
    position: relative;
    bottom: -11px;
    font-size: 15px;
}

p.price {
    font-size: 71px;
    color: #35495A;
    margin: 0;
}

ul li:nth-child(odd) {
    background-color: #EDF5FD;
}

ul li:nth-child(even) {
    background-color: #F5F5F6;
}

ul  {
    text-align: left;
    list-style: none;
    font-size: 15px;
    font-weight: normal;
    color: gray;
    line-height: 33px;
    padding: 0;
    margin: 25px 0 17px 0;
}

ul li {
    margin: 2px 15px;
}

ul li:before {
    content: url("arrow.png");
    margin: 0 15px 0 35px;
}

p.button {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #EE8129;
    border-radius: 5px;
    box-shadow: 0 3px #814124;
    line-height: 38px;
    margin: 17px 18px 32px 18px;
}

.button:hover {
    background-color: #814124;
    cursor: pointer;
}

div.pricing-block.standart,div.pricing-block.ultimate {
    border: none;
    box-shadow: none;
}

div.pricing-block.standart .content, div.pricing-block.ultimate .content {
    border: 1px solid #a6a6a6;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

div.standart .title, div.ultimate .title {
    padding: 18px 0;
    border-radius: 5px 5px 0 0;
}

div.standart .button, div.ultimate .button {
    background-color: #306FA8;
    box-shadow: 0 3px #2a4376;
    margin-bottom: 22px;
}

div.standart .button:hover, div.ultimate .button:hover {
    background-color: #2a4376;
}

div.standart .title {
    background-color: #2CC2D5;
}

div.ultimate .title {
    background-color: #00B89A;
}

div.pricing-block {
    margin: -8px
}

div.pricing-block.best-value {
   position: relative;
}


