table {
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #afafaf;
    padding: 4px 10px;
}

tr:nth-child(2n) {
    background-color: #DDEBF8;

}

td:nth-child(2n+3) {
    background-color: #F2F2DD;
}