nav {
    position: fixed;
    background-color: #a64dff;
    left: 0;
    width: 100%;
    margin-top: 14px;
}

nav ul {
    list-style-type: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: -1px;
    transform: scaleY(1.4);
    margin: 0;
    padding: 7px 80px;
}

nav li {
    display: inline;
}

.menu li a {
    padding: 9px 17px;
    text-decoration: none;
    color: white;
    line-height: 38px;
}

.menu li a:hover {
    background-color: #eee;
    color: #9faabc;
    box-shadow: 0 -1px 5px #aeaeae;
}