div.pagination{
    display: inline-block;
    background-color: #FAFAFA;
}

div.pagination ul{
    font-family: Arial;
    padding: 8px 22px;
}

div.pagination ul li {
    display: inline-block;
}

.pagination a {
    text-decoration: none;
    transition: background-color .3s;
    color: #A13BCF;
    padding: 12px 15px;
    border: 1px solid #A13BCF;
    margin: 0 4px;
    border-radius: 8px;
}

.pagination ul li:hover:not(.pager-prefix):not(.pager-suffix) > a, .pager-active > a{
    background-color: #A13BCF;
    color: white;
    border: 1px solid #A13BCF;
    border-radius: 8px;
}

.pager-interval {
    margin: 0 18px -11px 18px;
    font-weight: 100;
    color: #555;
    vertical-align: bottom;
}

.pager-prefix a, .pager-prefix:hover a, .pager-suffix a, .pager-suffix:hover a {
    border: none;
    margin: 0 5px 0 7px;
}

.pager-prefix a:before {
    content: '\00ab';
    margin-right: 3px;
}

.pager-suffix a:after {
    content: '\00bb';
    margin-left: 3px;
}



