form {
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
}

input {
    display: none;
}

label {
    text-decoration: underline;
    margin-right: 46px;
}

label[for="red"]{
    color: red;
}

label[for="green"]{
    color: green;
}

label[for="blue"]{
    color: blue;
    margin-right: 39px;
}

span {
    display: inline-block;
    border-radius: 8px;
    color: white;
    padding: 5px 9px;
    margin-top: 5px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

#red:checked~label[for="red"],#green:checked~label[for="green"],#blue:checked~label[for="blue"]{
    opacity: 0.3;
}

#red:checked~.red, #blue:checked~.blue, #green:checked~.green {
    display: none;
}

