.pricing-block {
    border: 3px solid #EE8129;
    border-radius: 5px;
    width: 290px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.40);
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.pricing-block-title {
    background-color: #EE8129;
    margin: 0;
    color: white;
    line-height: 75px;
    font-size: 22px;
}

.pricing-block-subtitle {
    color: #35495A;
    font-size: 22px;
    margin-top: 19px;
    margin-bottom: 10px;
    font-weight: normal;
}

.price sup {
    position: relative;
    top: -12px;
    font-size: 24px;
    padding-right: 5px;
}

.price sub{
    font-size: 15px;
}

.price {
    font-size: 71px;
    color: #35495A;
    margin: 0;
}

.pricing-block-features li:nth-child(odd) {
    background-color: #EDF5FD;
}

.pricing-block-features li:nth-child(even) {
    background-color: #F5F5F6;
}

.pricing-block-features  {
    text-align: left;
    list-style: none;
    font-size: 15px;
    font-weight: normal;
    color: gray;
    line-height: 33px;
    padding: 0;
    margin: 25px 0 17px 0;
}

.pricing-block-features li {
    margin: 2px 15px;
}

.pricing-block-features li:before {
    content: url("arrow.png");
    margin: 0 15px 0 35px;
}

.pricing-block-button {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #EE8129;
    border-radius: 5px;
    box-shadow: 0 3px #814124;
    line-height: 38px;
    margin: 17px 18px;
    margin-bottom: 25px;
}

.pricing-block-button:hover {
    background-color: #ff9129;
    cursor: pointer;
}

