body{
    margin: 0;
}

nav {
    list-style-type: none;
    background-color: #1AA4FF;
    font-family: Oswald, sans-serif;
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, .1);
}

nav ul.first_level {
    width: 900px;
    margin: 20px auto;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav ul.first_level a {
    font-weight: 400;
    letter-spacing: -0.06em;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 14px 6px 14px;
    transition: all 0.3s ease;
}

nav ul.first_level li a:hover {
    background-color: #EEEEEE;
    color: #B7B6B9;
    transition: all 0.3s ease;
}

nav li ul.second_level {
    display: none;
    position: absolute;
    left: 0;
    top: 57px;
    width: 100%;
    background-color:#EEEEEE;
    margin: auto;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, .1);
}

nav ul.second_level li a{
    color: #B7B6B9;
    font-size: 15px;
    transition: all 0.3s ease;
}

nav ul.second_level li a:hover{
    color: #78777a;
    font-size: 15px;
    background-color: #c3fff8;
    transition: all 0.3s ease;
}

nav ul.first_level li:hover > ul{
    display: block;
}

nav ul.second_level li:first-child{
    margin-left: 140px;
}


