@min1025: (min-width: 1025px);
@margin5: 5px;
@padding5: 10px;

* {
  margin: 0;
}

.conteiner {
  width: 100%;
  background-color: black;
  font-family: Arial, sans-serif;
  padding-top: 45px;
  padding-bottom: 72px;
  text-align: center;

  header h1 {
    color: #3170A8;
    font-size: 39px;
    font-weight: normal;
    margin-bottom: 40px;

    span {
      color: #EE7C24;
    }
  }

  .feedback {
    display: block;
    margin: @margin5 auto;

    @media @min1025 {
      display: inline-block;
      margin: @margin5 24px;

      .arrow {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: '';
        position: absolute;
        border-right-color: #ffffff;
        border-width: 14px;
        margin-top: -14px;
      }

      .feedback-testimonials:after {
        .arrow();
      }
    }

    img {
      height: 100px;
      position: relative;
      top: 15px;
    }

    .feedback-testimonials {
      display: inline-block;
      position: relative;
      max-width: 300px;
      margin-left: 20px;
      background: white;
      padding: 17px;
      padding-bottom: @padding5;

      .testimonials-customer {
        color: #8FB2D7;
        border-bottom: 2px dotted black;
        font-size: 13px;
        font-weight: bold;
        padding-bottom: @padding5;

        p em {
          display: block;
        }

        p em:first-child {
          float: left;
        }

        p em:last-child {
          float: right;
        }

        .clear {
          clear: both;
        }
      }

      .testimonials-comment {
        padding-top: 8px;
        font-size: 13px;
        color: gray;
        line-height: 20px;
        text-align: left;
      }
    }
  }
}