html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    height: 110px;
}

.logo {
    position: absolute;
    top: 0;
    left: 100px;
    bottom: 0;
    margin: auto;
    height: 35px;
}

.menu {
    position: absolute;
    bottom: 0;
    right: 100px;
    margin: 0;
    font-size: 13px;
    letter-spacing: -0.03em;
}

.menu ul {
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #7F52A7;
    display: block;
    padding: 30px 16px;
    border-bottom: 3px solid white;
}

.menu a:active, .menu a:focus {
    border-bottom: 3px solid #437BAC;
    color: red;
}

.menu a:hover {
    border-bottom: 3px solid #437BAC;
}

.content{
    background: white url("title-back.jpg") no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 95px;
    text-align: center;
}

h1, h2, h3,.content-button {
    color: white;
    font-weight: normal;
    margin: 0 auto;
}

.content h1 {
    max-width: 320px;
    font-size: 36px;
}

.content h2 {
    text-transform: uppercase;
    font-size: 46px;
    max-width: 835px;
}

.content h3 {
    font-size: 16px;
    font-style: italic;
    max-width: 520px;
    line-height: 28px;
    margin-top: 14px;
}

.content-button {
    display: block;
    text-decoration: none;
    border: 1px solid white;
    width: 240px;
    padding: 16px 0;
    margin-top: 36px;
}

.content-button:hover {
    background-color: rgba(255,255,255,0.1);
}