a {
     color: blue;
     font-weight: bold;
 }

a[href$="ru/"] {
    color: darkorange;
}

a[href*="com"] {
    color: gray;
}

a[target="_blank"]{
    background: url("link.png") no-repeat 100% 6px;
    background-size: 13px 13px;
    padding-right: 18px;
}
