div {
    margin: auto;
    width: 720px;
}

h1 {
    text-align: right;
    color: darkorange;
}

p i {
    color: white;
    background-color: green;
}

p:first-letter {
    font-size: 200%;
    color: red;
}

.orange{
    color: darkorange;
}

.blue {
    color: blue;
}

.Ogorod .Frukt{
    color: gray;
}

.Sklad .Frukt {
    color: green;
}

.Ovoshi li {
    color: red;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 2px;
    width: 400px;
}

tr,td {
    border: 1px solid black;
    }

.hat {
    font-weight: bold;
    text-align: center;
}

.name {
    color: orange;
    text-align: left;
    background-color: white;
}

.number {
    color: white;
    background-color: green;
    text-align: center;
}

